* {

    background-color: #6A7369;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
 
}

/* .background-image{
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    background-image:url(./crater-lake.jpg);

} */

header {
position:fixed;
width: 95%;
height: 210px;
margin:5px;

border:5px solid red;
display:inline-block;


}
header h1 {
    display:inline-flex;
    font-size: 48px;
    color: white;
    border: 5px solid red;
    margin-top: 0px;
    position: absolute;
    
}

/* header h1:hover {

    color: black;
    
} */


header h2 {
    display:inline-flex;
    font-size: 20px;
    color: white;
    border: 5px solid red;
    margin-top: 70px;
    position:relative;
    
}

header img{
    max-width: 100px;
    float: left;
    margin: 5px;

}

header nav{

    padding: 15px;
    text-align: center;
    margin-right: 20px;
    float:right;
    font-size: 20px;
    border: 5px solid red;
    margin-top: 20px;

}

.max-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: row;
    border: 5px solid greenyellow;
}




.big-container_1 {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
}

.big-container_2 {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: row;
}


.container_1 {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex;
    height: 400px;
    gap: 10px;
    margin: 10px;
    margin-top: 240px;
    border: 5px solid lightblue;
}

.container_1 h1 {

    font-size: 20px;
    text-align: center;
    border: 5px solid yellow;
    border-radius: 10px;
    position:relative;
    margin-top: -50px;
    background-color: blue;
    

}

.container_1 p {

    background-color: brown;
}
.container_2 {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex;
    gap: 10px;
    margin: 10px;
    margin-top: 240px;
    border: 5px solid yellow;
}

.container_2 h1 {

    font-size: 20px;
    text-align: center;
    border: 5px solid yellow;
    border-radius: 10px;
    position:relative;
    margin-top: -50px;
    background-color: blue;
}

.container_2 p {

    background-color: brown;
}



.card_1 {
    
    background-color: red;
    padding: 30px;
    width: 300px;
    height: 300px;
    margin: auto;
    border: 5px solid black;
    gap: 20px;
    border-radius: 10px;
    background-image: linear-gradiant (red, yellow);
        }




.card_2 {
    
    background-color: brown;
    padding: 30px;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 5px solid black;
    gap: 20px;
    border-radius: 10px;
}